body {
  margin: 0;
  padding: 0;
  font-family: Segoe UI;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}

input {
  background-color: transparent;
  width: 100%;
}

input:focus {
  outline: none;
}

table {
  table-layout: fixed;
}
/* .clsGridInput{
border: none;
background-color: inherit;
} */
.clsGridInput:focus{
  border: 1px solid #888;
  border-radius: 5px;
}

.duplicate-payment-select__placeholder {
  color: #ffffff !important;
}
.duplicate-payment-select__control {
  border-radius: 15px !important;
}

.duplicate-payment-select__menu {
  border-radius: 15px !important;
}
.dropdown-container {
  background: white;
  z-index: 50;
  position: absolute;
  width: 100%;
  border: 1px solid #e5e7eb; /* Tailwind: border-gray-200 */
  border-radius: 0.375rem; /* Tailwind: rounded-md */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tailwind: shadow-lg */
}
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  height: 64px; /* Adjust as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}
.react-dropdown-select {
  min-height: 38px;
}

.react-dropdown-select-input {
  display: block !important;
  opacity: 1 !important;
  width: 100% !important;
}

.react-dropdown-select-dropdown {
  width: 100% !important;
}
.filter-red {
  filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(358deg) brightness(95%) contrast(112%);
}
.spinner {
  animation: spin 1s linear infinite;
}
input[type="radio"]{
  box-shadow: none !important;
}
.coverAll {
  z-index: 1000;
  background-color: #508BC9;
  margin-bottom: 10px;
  margin-top:25px;
  color: white;
  font-family: Verdana;
  font-size: 12px;
  position: absolute !important;
  width: 400px; /* Fixed width for rectangular shape */
  height: fit-content;
  min-height: 100px;
  overflow: auto;
  box-shadow: 0 2px 10px rgba(50, 50, 50, 0.5);
  padding: 15px;
  top: 100%; /* Position right below the button */
  left: 0;
  border-radius: 4px; /* Optional: slight rounding of corners */
}

.close {
  float: right;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
}

.white {
  color: white;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .cell-content {
  padding: 4px;
  min-height: 24px;
  white-space: normal;
  word-wrap: break-word;
}

.clsGridInput {
  border: 1px solid #888;
  border-radius: 5px;
  background-color: white;
  padding: 4px;
  width: 100%;
} */